<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img src="test.jpeg" alt="test" class="card-img-top">
            <div class="card-body">
                <h2>30$</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi laboriosam illo molestias dolorum voluptatibus error.
                </p>
            </div>
            <div class="card-footer">
                <form action="/checkout " method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_yEmz9os3Pzkw3PE63vLdmJAH00boMCEAvK"
                        data-amount="3000"
                        data-name="payTest"
                        data-description="Testing pay"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                    </script>
                    <script>
                        document.getElementsByClassName('stripe-button-el')[0].style.display='none';
                    </script>
                    <button class="btn btn-dark btn-block">
                        Buy <i class="fas fa-shopping-cart"></i>
                    </button>
                </form>



            </div>
        </div>
    </div>

</div>